#nav{
    width: 100%;
    height: 80px;
    border-top: solid 10px blue;
    border-bottom: solid 3px blue;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#nav2{
    width: 50%;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}

#contlogonav{
    width: 3%;
    height: 70px;
    margin-top: 5px;
   padding-left: 20px;
   padding-top: 5px;
}

#logonav{
    width: 60px;
    height: 60px;
}

#listnav{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#contnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height:40px;
}

.link{
    color: black;
    list-style: none;
    text-decoration:none;
   
}

.linav{
    width: 25%;
    background-color: transparent;
    border: none;
    font-family: fantasy;
    cursor: pointer;
    text-decoration: none;
    list-style: none;   
}

.linav:hover{
    background-color: rgb(144,215,255);
    border-radius: 5px;
    font-size:15px ;
}

.linav:active{
    background-color: greenyellow;
    border-radius: 5px; 
}

#MQcont{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#buttonsearch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:30px;
}

#searchbutton{
    width: 100%;
    height: 30px;
   border:  solid 2px black;
   border-radius: 5px;
}

#iconnavcont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height:70px;    
}

.iconnav{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.iconnav:hover{
    width: 60px;
    height: 60px;
}
/* here starts main Best Seller */

#mainbestseller{
    width: 100%;
    height: 470px;
}

#conttitlebs{
    width: 100%;
    height: 20%; 
}

#titlebs{
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#span1{
    color: rgb(241, 18, 167);
}

#span2{
    color:rgb(43, 150, 232);
}

#contbooks{
    width: 100%;
    height: 79%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
    align-items: center;
}

.contb{
    width:70%;
    height: 90%;
    display: flex;
    flex-direction: column;     
    align-items: center;
    border: solid 2px lightgreen;
    margin-left: 10px;
}

.contimgbs{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    border-bottom:solid 2px lightblue;
}
.imgbs{
    width:60%;
    height: 70%;
    padding-left: 50px;
}

.conticon{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconbs{
    width: 40px;
    height: 40px;
}

.iconbs:hover{
    width: 60px;
    height: 60px;
}

.conttextbs{
    width: 80%;
    height: 70px;
    text-align: center;
}

.namebs{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.pricebs{
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;

}
/* Here starts footer */

#footer{
    border-bottom: solid 2px gray;
    height: 20px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#contfooter{
    display: flex;
    align-items: center;
    text-align: center;
    width: 30%;
    height:10px;
    margin-top: 15px;
    cursor: pointer;
}

.listfooter{
    width: 90px;
    background-color: transparent;
    border: none;
    font-family: fantasy;
    font-size: 10px;
    list-style: none;
}

.listfooter:hover{
    background-color:lightgray;
    border-radius: 5px;
    font-size:11px ;
}

.listfooter:active{
    border-radius: 5px; 
}

#cont2footer{
    width: 10%;
    height:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    height:15px;
    cursor: pointer;
}

.iconfooter:hover{
        width: 23px;
        height: 15px;
}

    @media (min-width:400px) and ( max-width:550px){

    /*Media queries Nav*/
    *{
        margin: 0;
        padding: 0;
    }
    #nav{   
        width: 100%;
        height: 80px;
        border-top: solid 10px blue;
        border-bottom: solid 3px blue;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
    }
        
     #nav2{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
    }
        
    #contlogonav{
        width: 5%;
        height: 40px;
    }
        
    #logonav{
        width: 30px;
        height: 30px;
    }
    
    #listnav{
        width: 100%; 
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        
    #contnav{
        width: 100%;
        height:20px;
        padding-left: 1px;
    }
    
    .link{
        color: black;
        list-style: none;
        text-decoration:none;
    }
            
    .linav{
        width: 20%;
        background-color: transparent;
        border: none;
        font-family: fantasy;
        font-size: 10px;
        cursor: pointer;    
    }
        
    .linav:hover{
        background-color: rgb(144,215,255);
        border-radius: 5px;
        font-size:15px ;
    }
        
    .linav:active{
        background-color:greenyellow;
        border-radius: 5px; 
    }
    
    #MQcont{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content:start;
    }
        
    #buttonsearch{
        width: 70%; 
        height:30px;
        margin-left: 4px;
    }
        
    #searchbutton{
        width: 100%;
        height: 30px;
        border:  solid 2px black;
        border-radius: 5px;
    } 
        
    #iconnavcont{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        height:30px;
        margin-left: 15px;
        margin-right: 3px;
    }
        
    .iconnav{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
        
    .iconnav:hover{
        width: 5px;
        height: 5px;
    }
    /* Media queries Best Seller  starts here */
    #mainbestseller{
    width: 100%;
    height: 100%;
    }
    
    #conttitlebs{
    width: 100%;
    height: 20%;
    }
    
    #titlebs{
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:20%;
    }
    
    #span1{
    color: rgb(241, 18, 167);
    }
    
    #span2{
    color:rgb(43, 150, 232);
    }
    
    #contbooks{
    width: 100%;
    height: 79%;
    display: flex;
    flex-direction: column;
    align-items:center;
    }
    
    .contb{
    width:30%;
    display: flex;
    flex-direction: column;     
    align-items: center;
    border: solid 2px lightgreen;
    }
    
    .contimgbs{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    border-bottom:solid 2px lightblue;
    }
    
    .imgbs{
    width:50%;
    height: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    }
    
    .conticon{
    width: 60%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .iconbs{
    width: 20px;
    height: 20px;
    }
    
    .iconbs:hover{
    width: 60px;
    height: 60px;
    }
    
    .conttextbs{
    width: 80%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    
    .namebs{
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;    
    }
    
    .pricebs{
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    }
    /* Media queries Footer starts here */
    
    #footer{
    width: 100%;
    height: 10%;
    background-color: white;
    border-bottom: solid 2px gray;
    height: 20px;
    display: flex;  
    text-align: center;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        }
        
    #contfooter{
        width: 60%;
        height: 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        align-items: center;
    }
        
    .listfooter{
        background-color: transparent;
        border: none;
        font-family: fantasy;
        font-size: 7px;
        list-style: none;
    }
        
    .listfooter:hover{
        background-color:lightgray;
        border-radius: 5px;
        font-size: 7px;   
    }
         
    .listfooter:active{
        border-radius: 5px; 
    }
        
    #cont2footer{
        width: 30%;
        height:15px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        
    .iconfooter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20px;
        height:15px;
        cursor: pointer;
    }
        
    .iconfooter:hover{
        width: 23px;
        height: 15px;
    }
    }