
#nav{
    width: 100%;
    height: 80px;
    border-top: solid 10px blue;
    border-bottom: solid 3px blue;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#nav2{
    width: 50%;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}

#contlogonav{
    width: 3%;
    height: 70px;
    margin-top: 5px;
   padding-left: 20px;
   padding-top: 5px;
}

#logonav{
    width: 60px;
    height: 60px;
}

#listnav{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

#contnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height:40px;
}

.link{
    color: black;
    list-style: none;
    text-decoration:none;
   
}

.linav{
    width: 25%;
    background-color: transparent;
    border: none;
    font-family: fantasy;
    cursor: pointer;
    text-decoration: none;
    list-style: none;   
}

.linav:hover{
    background-color: rgb(144,215,255);
    border-radius: 5px;
    font-size:15px ;
}

.linav:active{
    background-color: greenyellow;
    border-radius: 5px; 
}

#MQcont{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#buttonsearch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:30px;
}

#searchbutton{
    width: 100%;
    height: 30px;
   border:  solid 2px black;
   border-radius: 5px;
}

#iconnavcont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height:70px;    
}

.iconnav{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.iconnav:hover{
    width: 60px;
    height: 60px;
}

/* Media queries starts here */

@media (min-width:400px) and ( max-width:550px){

/*Media queries Nav*/
*{
     margin: 0;
    padding: 0;
}
 #nav{   
        width: 100%;
        height: 80px;
        border-top: solid 10px blue;
        border-bottom: solid 3px blue;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;       
    }
        
    #nav2{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
    }
        
    #contlogonav{
        width: 5%;
        height: 40px;
    }
        
    #logonav{
        width: 30px;
        height: 30px;
    }
    
    #listnav{
        width: 100%; 
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        
    #contnav{
        width: 100%;
        height:20px;
        padding-left: 1px;
    }
    
    .link{
        color: black;
        list-style: none;
        text-decoration:none;
    }
            
    .linav{
        width: 20%;
        background-color: transparent;
        border: none;
        font-family: fantasy;
        font-size: 10px;
        cursor: pointer;
            
    }
        
    .linav:hover{
        background-color: rgb(144,215,255);
        border-radius: 5px;
        font-size:15px ;
    }
        
    .linav:active{
        background-color:greenyellow;
        border-radius: 5px; 
    }
    
    #MQcont{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content:start;
    }
        
    #buttonsearch{
        width: 70%; 
        height:30px;
        margin-left: 4px;
    }
        
    #searchbutton{
        width: 100%;
        height: 30px;
        border:  solid 2px black;
        border-radius: 5px;
    } 
        
    #iconnavcont{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        height:30px;
        margin-left: 15px;
        margin-right: 3px;
    }
        
    .iconnav{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
        
    .iconnav:hover{
        width: 5px;
        height: 5px;
    }
}